rFQxUqXWV3DzA0SSX0BS/oRNHFYNVmTP6gVoLHmpwHsV9EgD4zpngo8g/LQXd9o5tqQzA/SoGGLSwzg89JEPhgvES//f8twj48UXSsBGJ8JUnrC0Og++yN+3A/HAnIPtK+SPolliVq2ysF+bf1KrVoo6sZqI2gW2YrOG2dBQbj/cKYHpLZBLzUifu+ve6sWcWU9w88eMMU3K4vD2QF+mUcT89weP1QA2m5ETJjZkqtR9ZgOinBB8eX3DXBMa4hg3CT7yaPzGUw9+KXRzUTH6IX6e4ouHdezVx08Fn7OGh9NgiWP/QKj/EVSOTja0vtm/QCroiRN1LSEz7FxIrZyc+ZivBt5cMc5suwsAQaZDnkkrVIfaOxat2I1vR7xfa2CJw0Mdk/iaq+2xtjxhUN0Pexjc6T1/T09inuxP--PaUsNHpha7egeh3j--M9lDqi+vYdVXpIEAD3wAwA==